# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/
java/.idea/

java/target/

/java/.idea
/java/.idea/*
/java/target/classes/*
/java/target/generated-sources/*
/java/target/generated-test-sources/*
/java/target/maven-archiver/*
/java/target/maven-status/*
/java/target/surefire-reports/*
/java/target/test-classes/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
!.gitignore
*.~lock.*
Gemfile.lock
